<div class="theme-card talent-card">
  <div class="talent-header">
    <h3 class="talent-title theme-primary-text">{{ post.title }}</h3>
    <span class="talent-author theme-secondary-text">by {% if post.name %}{{ post.name }}{% else %}Anonymous{% endif %}</span>
  </div>

  <p class="talent-description theme-secondary-text">
    {{ post.description }}
  </p>

  <div class="talent-footer">
    <div class="talent-meta">
        {% if post.location %}
          <span class="talent-location">
            <svg class="icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: inline-block; vertical-align: middle; margin-right: 0.5rem;">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" fill="currentColor"/>
            </svg>
            {{ post.location }}
          </span>
        {% endif %}
    </div>

    <div class="talent-skills">
        {% for tag in post.tags.all %}
            <span class="skill-badge">{{ tag.name }}</span>
        {% endfor %}
    </div>
  </div>
</div>
