{% if job.slug %}
    <a href="{% url 'job_detail' slug=job.slug %}" class="block mb-2.5">
        <div class="theme-job-card flex items-center gap-4">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
                 style='background-image: url("{{ job.company_logo|default:"https://via.placeholder.com/56x56?text=Co" }}");'>
            </div>
            <div class="flex flex-col justify-center">
                <p class="theme-primary-text text-[18px] font-medium leading-normal line-clamp-1">
                    {{ job.title }}
                </p>
                <p class="theme-secondary-text text-[15px] font-normal leading-normal line-clamp-2 mt-1">
                    {{ job.company_name }}
                </p>
            </div>
        </div>
    </a>
{% else %}
    <div class="theme-job-card flex items-center gap-4">
        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
             style='background-image: url("{{ job.company_logo|default:"https://via.placeholder.com/56x56?text=Co" }}");'>
        </div>
        <div class="flex flex-col justify-center">
            <p class="theme-primary-text text-[18px] font-medium leading-normal line-clamp-1">
                {{ job.title }}
            </p>
            <p class="text-[#49739c] text-[15px] font-normal leading-normal line-clamp-2">
                {{ job.company_name }}
            </p>
        </div>
    </div>
{% endif %}